footer a {
  color: #9d9d9d;
}
.template {
  transition: .3s;
}
a {
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }
}
input:focus {
  outline: none;
}
.binding-view {
  padding: 10px 0; d
}
form {
  padding: 10px;
}
.app-body {
  min-height: 100%;
}

.navbar {
  border-radius: 0px !important;
}

#template-register, #template-login {
  width: 350px;
  margin: auto;
}
#form-upload {
   padding: 10px;
}

footer {
  margin-top: 10px;
  background: #222;
  color: grey;
  padding: 20px 10px;
}