<div id="template-admin" ng-controller="admin.ctrl" class="text-center, container">
    <div class="row">
        <div class="col-sm-6">
            <h1>All Uploaded Resumes</h1>
            <div ng-repeat="resume in resumes">
                <p> Email: {{resume.email}} </p>
                <p> Resume: {{resume.resume}} </p>
                <button ng-click="deleteResume(resume)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="fa"></i>&nbsp;Delete
                </button>
                <br><br><br>
            </div>
        </div>
        <div class="col-sm-6">
            <h1>All Uploaded Messages</h1>
            <div ng-repeat="message in messages">
                <p> Name: {{message.name}} </p>
                <p> Email: {{message.email}} </p>
                <p> Message: {{message.message}} </p>
                <button ng-click="deleteMsg(message)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="fa"></i>&nbsp;Delete
                </button>
                <br><br><br>
            </div>
        </div>
    </div>
</div>