<div ng-controller="adminResumesCtrl">
    <md-content layout-padding>
        <h1 class="wow fadeIn">All Uploaded Resumes</h1>
        <div ng-repeat="resume in resumes" class="wow fadeInUp" data-wow-delay=".3s">
            <p> Email: {{resume.email}} </p>
            <p> Resume: {{resume.resume}} </p>
            <p> Summary: {{resume.resume.summary}} </p>
            <p> Qualifications: {{resume.resume.qualifications}} </p>
            <p> Experience: {{resume.resume.experience}} </p>
            <p> Education: {{resume.resume.education}} </p>
            <md-button class="md-block md-raised" ng-click="deleteResume(resume)"><i class="fa"></i>Delete</md-button>
            <br><br><br>
        </div>
    </md-content>
</div>