<!-- template for upload, associated controller in same folder -->
<md-content id="template-upload" layout-padding layout="column" layout-align="space-between stretch" ng-controller="uploadCtrl">
    <form name="formUpload" ng-submit="upload()" class="text-center" novalidate>
        <h2>Resume Upload Form </h2>
        <fieldset ng-disabled="uploading || uploaded">
            <div class="form-group wow fadeIn">
                <label>Professional Summary</label>
                <textarea rows="5" ng-model="resume.summary" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeIn">
                <label>Core Qualifications</label>
                <textarea rows="5" ng-model="resume.qualifications" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeIn">
                <label>Experience</label>
                <textarea rows="5" ng-model="resume.experience" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeIn">
                <label>Education</label>
                <textarea rows="5" ng-model="resume.education" class="form-control mdl-textfield__input"></textarea>
            </div>
            <md-progress-linear md-mode="indeterminate" ng-show="uploading"></md-progress-linear>
            <div class="wow fadeIn">
                <md-button class="md-block md-raised wow fadeIn" type="submit">
                    <i class="fa fa-fw fa-upload"></i>&nbsp;Upload
                </md-button>
            </div>
        </fieldset>
        <br>
        <div>{{ message }}</div>
    </form>
    <div class="text-center binding-view wow fadeIn">
        {{ resume }}
    </div>
</md-content>