<!-- template for upload, associated controller in same folder -->
<md-content id="template-upload" layout="column" layout-align="space-between stretch" layout-padding ng-controller="uploadCtrl">
    <form id="form-upload" name="formUpload" ng-submit="upload()" class="text-center" novalidate>
        <h1>Resume Upload Form {{currentUser.email}}</h1>
        <fieldset ng-disabled="uploading || uploaded">
            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                <label>Professional Summary</label>
                <textarea rows="5" ng-model="resume.summary" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
                <label>Core Qualifications</label>
                <textarea rows="5" ng-model="resume.qualifications" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay=".3s">
                <label>Experience</label>
                <textarea rows="5" ng-model="resume.experience" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay=".4s">
                <label>Education</label>
                <textarea rows="5" ng-model="resume.education" class="form-control mdl-textfield__input"></textarea>
            </div>
            <!--   <md-input-container class="md-block wow fadeInUp" data-wow-delay=".4s">
                <label>Education</label>
                <textarea ng-model="resume.education" md-select-on-focus required> </textarea>
            </md-input-container> -->
            <md-progress-linear md-mode="indeterminate" ng-show="uploading"></md-progress-linear>
            <div class="wow fadeInUp">
                <md-button class="md-block md-raised wow fadeInUp" type="submit" data-wow-delay=".5s">
                    <i class="fa fa-fw fa-upload"></i>&nbsp;Upload
                </md-button>
            </div>
        </fieldset>
        <br>
        <div>{{ message }}</div>
    </form>
    <div class="text-center binding-view wow fadeInUp" data-wow-delay=".7s">
        {{ resume }}
    </div>
</md-content>