<!-- template for register form, associated controller in same folder -->
<div id="template-register">
	<form id="form-register" name="formRegister" ng-submit="register()" novalidate>
		<fieldset ng-disabled="registering">
			<input type="text" placeholder="email" ng-model="user.email"></input>
			<input type="text" placeholder="password" ng-model="user.password"></input>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"><i class="fa fa-fw fa-user-plus"></i>&nbsp;Register</button>
		</fieldset>
		<div class="text-center">{{message}}</div>
	</form>
	<div class="text-center">
    	{{ user }}
	</div>
</div>