<!-- use ng-include to add to pages, included in index.html -->
<md-toolbar id="main-nav" class="md-whiteframe-2dp" layout="row" layout-align="space-around center" ng-controller="navCtrl">
    <div flex="50" layout="row" layout-align="start center" layout-padding>
        <a ui-sref="home">
            &lt;RB&gt;
        </a>
        <a ui-sref="about.site">
            <i class="fa fa-fw fa-info-circle"></i>
        </a>
    </div>
    <div flex="50" layout="row" layout-align="end center" layout-padding>
        <a ui-sref="login" ng-show="!currentUser.email">
            <i class="fa fa-fw fa-sign-in"></i>&nbsp;Login
        </a>
        <div ng-show="isAuthenticated()">
            <md-menu md-position-mode="target-right target" id="user-menu" md-menu-origin md-offset="60 0">
                <a md-menu-origin class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="fa fa-fw fa-user"></md-icon>
                </a>
                <md-menu-content md-menu-align-target width="1" layout="column" layout-align="start stretch">
                    <md-menu-item>
                        <md-icon md-font-icon="fa fa-bars"></md-icon>
                        <a ui-sref="actions" ng-show="isAuthenticated()">Dashboard</a>
                    </md-menu-item>
                    <md-menu-item ng-show="isAdmin()">
                        <md-icon md-font-icon="fa fa-user"></md-icon>
                        <a ui-sref="users">Users</a>
                    </md-menu-item>
                    <md-menu-item ng-show="isAdmin()">
                        <md-icon md-font-icon="fa fa-file-text-o"></md-icon>
                        <a ui-sref="resumes">Resumes</a>
                    </md-menu-item>
                    <md-menu-item ng-show="isAdmin()">
                        <md-icon md-font-icon="fa fa-envelope-o"></md-icon>
                        <a ui-sref="messages">Messages</a>
                    </md-menu-item>
                    <md-menu-item>
                        <md-icon md-font-icon="fa fa-sign-out"></md-icon>
                        <a ng-click="logout()">
                             Logout
                        </a>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>