<!-- use ng-include to add to pages, included in index.html -->
<md-toolbar id="main-nav" class="md-whiteframe-2dp" layout="row" layout-align="space-around center" ng-controller="navCtrl">
    <div flex="50" layout="row" layout-align="start center" layout-padding>
        <a ng-click="showActions()">
            &lt;RB&gt;
        </a>
        <a ui-sref="about.site">
            <i class="fa fa-fw fa-info-circle"></i>
        </a>
        <div ng-show="isAuthenticated()">
            <!-- links for authenticated users -->
            <a ui-sref="admin"><i class="fa" ng-show="isAdmin()"></i>Admin</a>
        </div>        
    </div>
    <div flex="50" layout="row" layout-align="end center" layout-padding>
        <a ui-sref="login" ng-show="!currentUser.email">
            <i class="fa fa-fw fa-sign-in"></i>&nbsp;Login
        </a>
        <div ng-show="currentUser.email">
            <md-menu md-position-mode="target-right target" id="user-menu" md-menu-origin md-offset="60 0">
                <a md-menu-origin class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="fa fa-fw fa-user"></md-icon>
                    &nbsp;{{currentUser.email}}
                </a>
                <md-menu-content md-menu-align-target width="1" layout="column" layout-align="start stretch">
                    <md-menu-item ng-show="notifications">
                        <i class="fa fa-bell"></i>
                        <span ng-show="notifications > 0" class="notification-count">1</span>
                    </md-menu-item>
                    <md-menu-item>
                        <div layout="row" layout-align="center center">
                            <a ng-click="logout()">
                                <md-icon md-font-icon="fa fa-sign-out"></md-icon> Logout
                            </a>
                        </div>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>