<!-- use ng-include to add to pages, included in index.html -->
<footer class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Resume Builder</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<!--  add links here -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!--  add links here -->
				<li><a href="/register"><i class="fa fa-fw fa-user-plus"></i>&nbsp;Register</a></li>
				<li><a href="/login"><i class="fa fa-fw fa-sign-in"></i>&nbsp;Login</a></li>
			</ul>
		</div>
	</div>
</footer>