<!-- use ng-include to add to pages, included in index.html -->
<header>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="home">Resume Builder</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<!--  add links here -->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!--  add links here -->
					<li><a ui-sref="register"><i class="fa fa-fw fa-user-plus"></i>&nbsp;Register</a></li>
					<li><a ui-sref="login"><i class="fa fa-fw fa-sign-in"></i>&nbsp;Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>