<!-- template for login form, associated controller in same folder -->
<md-content layout-padding id="template-login" ng-controller="login.ctrl">
    <form id="form-login" name="formLogin" ng-submit="login()" class="text-center" novalidate>
        <fieldset ng-disabled="loggingin">
            <div layout="column" layout-align="space-around stretch">
                <md-input-container class="md-block wow fadeInUp" data-wow-delay="0s">
                    <label>Email</label>
                    <input name="email" type="email" ng-model="user.email" required>
                    <md-icon md-font-icon="fa fa-envelope-o"></md-icon>
                    <div ng-messages="formLogin.email.$error">
                        <p ng-message="required">Email is required!</p>
                        <p ng-message="email">Not a valid email!</p>
                    </div>
                </md-input-container>
                <md-input-container class="md-block wow fadeInUp" data-wow-delay=".1s">
                    <label>Password</label>
                    <input name="password" ng-model="user.password" type="password" ng-trim="false" ng-pattern="/^[a-zA-Z0-9]*$/" required>
                    <md-icon md-font-icon="fa fa-unlock-alt"></md-icon>
                    <div ng-messages="formLogin.password.$error">
                        <p ng-message="required">Password is required!</p>
                        <p ng-message="pattern">Password can only contain alpha-numeric characters!</p>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-block md-raised wow fadeInUp" type="submit" data-wow-delay=".2s">
                    <i class="fa fa-fw fa-sign-in"></i>&nbsp;Login
                </md-button>
                <md-button class="md-block md-raised wow fadeInUp" ui-sref="register" data-wow-delay=".2s">
                    <i class="fa fa-fw fa-user-plus"></i>&nbsp;New User?
                </md-button>
            </div>
        </fieldset>
        <div class="text-center">{{message}}</div>
    </form>
    <div class="text-center binding-view  wow fadeInUp" data-wow-delay=".3s" ng-disabled="!formLogin.$valid">
        {{ user }}
    </div>
    </<md-content>