<div id="template-about" class="" ng-controller="about.ctrl">
    <h1>About Resume Builder</h1>
    <ul class="nav nav-tabs">
        <li ng-class="{active: tab == 0}">
            <a ng-click="selectTab(0)" ui-sref="about.site">About the Site</a>
        </li>
        <li ng-class="{active: tab == 1}">
            <a ng-click="selectTab(1)" ui-sref="about.team ">Our Team</a>
        </li>
        <li ng-class="{active: tab == 2}">
            <a ng-click="selectTab(2)" ui-sref="about.contact ">Contact Us</a>
        </li>
    </ul>
    <div id="about-content" ui-view class="app-content"></div>
</div>