<!-- template for upload, associated controller in same folder -->
<div id="template-upload" class="mdl-shadow--6dp template">
    <form id="form-upload" name="formUpload" ng-submit="upload()" class="text-center wow fadeIn" data-wow-delay=".1s" novalidate>  
        <h1>Resume Upload Form</h1>
        <fieldset ng-disabled="uploading">
            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                <label>Professional Summary</label>
                <textarea rows="5" ng-model="resume.summary" class="form-control mdl-textfield__input"></textarea>            
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                <label>Core Qualifications</label>
                <textarea ows="5" ng-model="resume.qualifications" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                <label>Experience</label>
                <textarea rows="5" ng-model="resume.experience" class="form-control mdl-textfield__input"></textarea>
            </div>
            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
                <label>Education</label>
                <textarea rows="5" ng-model="resume.education" class="form-control mdl-textfield__input"></textarea>
            </div>          
            <div class="wow fadeInUp">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" class="form-control mdl-textfield__input">
                    <i class="fa fa-fw fa-upload"></i>&nbsp;Upload
                </button>
            </div>
        </fieldset>
        <br>
        <div>{{ message }}</div>
    </form>
    <br>
    <div class="text-center binding-view">
        {{ resume }}
    </div>
</div>